#coluna1 {
    background-color: cyan;
    position:absolute;
    top: 120px;
    left: 200px;
    width: 150px;
    height: 100px;
}
#coluna2 {
    background-color: green;
    position: absolute;
    top: 120px;
    left: 360px;
    width: 150px;
    height: 100px;
}
#coluna3 {
    background-color: yellow;
    position: absolute;
    top: 120px;
    left: 40px;
    width: 150px;
    height: 100px;
}